body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px;
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3; 
}

a {
    color: #007bff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#sign-up-form, #sign-in-form, #reset-password-form {
    display: flex;
    flex-direction: column;
}

#sign-up-form label, #sign-in-form label, #reset-password-form label {
    margin-bottom: 10px;
}

#sign-up-form input, #sign-in-form input, #reset-password-form input {
    margin-bottom: 20px;
}


fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

legend {
    font-weight: bold;
    font-size: 20px;
    color: #007bff; 
    padding-bottom: 10px;
}

textarea {
    height: 100px;
    resize: vertical;
}


#patient-list {
    list-style-type: none;
    padding: 0;
}

#patient-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#patient-list li button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#patient-list li button:hover {
    background-color: #c82333; 
}

.edit-button {
    background-color: #007bff; 
}

.edit-button:hover {
    background-color: #0056b3; 
}
